body {
    box-sizing: border-box;
    background-color:  hsl(217, 54%, 11%);
}

.card {
    position: relative;
    background-color: hsl(216, 50%, 16%);
    height: 550px;
    width: 350px;
    margin: 0 auto;
    top: 100px;
    border-radius: 15px;
}

.img {
    width: 310px;
    height: 285px;
    border-radius: 15px;
    margin: 0 auto;
    top: 22px;
    position: relative;
}

.imgx {
    position: relative;
    width: 310px;
    height: 285px;
    border-radius: 15px;
    margin: 0 auto;
}

.equal, .desc , .eth, .logo{
    position: relative;
    margin: 0 auto;
    width: 310px;
    height: 35px;
    border: solid 1px white;
    top: 50px;
    color: white;
    font-size: x-large;
    font-family: "outfit";
}

.desc {
    top: 70px;
    font-size: 14px;
    color: lightblue;
}

.eth {  
    position: relative;
    top: 90px;
    color: hsl(178, 100%, 50%);
    font-size: small;
}

.logo{
    position: relative;
    top: 100px;
    font-size: small;
}
