body {
    box-sizing: border-box;
    background-color:  hsl(217, 54%, 11%);
}

.card {
    position: relative;
    background-color: hsl(216, 50%, 16%);
    height: 550px;
    width: 350px;
    margin: 0 auto;
    top: 100px;
    border-radius: 15px;
}

.img {
    width: 310px;
    height: 285px;
    border-radius: 15px;
    margin: 0 auto;
    top: 22px;
    position: relative;
}

.imgx {
    position: relative;
    width: 310px;
    height: 285px;
    border-radius: 15px;
    margin: 0 auto;
}

.equal, .desc , .eth, .logo {
    position: relative;
    margin: 0 auto;
    width: 310px;
    height: 35px;
    top: 50px;
    border: 1px solid wheat;
    color: white;
    font-size: x-large;
    font-family: "outfit";
}

.desc {
    top: 70px;
    font-size: 14px;
    color: lightblue;
}

.eth {  
    position: relative;
    top: 95px;
    color: hsl(178, 100%, 50%);
    font-size: small;
}
.days {
    position: relative;
    float: right;
    color: lightblue;
}

.line {
    border-top: solid .2px white;
    width: 310px;
    margin: 0 auto;
    position: relative;
    top: 45px;
}

.logo{
    position: relative;
    top: 100px;
    font-size: small;
}

.avatar {
    height: 30px;
    width: 30px;
}
span {
    position: relative;
    padding: 5px;
    margin-top: 10px;
    top: -3px;
}
